body {
    border-style: none;
    background-color: darkslategray;
}

#hovedkonteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: none;
    height: 1100px;
    width: 1150px;
    margin-left: 50px;
    background-color: whitesmoke;
}

header {
    border-bottom-style: solid;
    border-bottom-width: 0.2px;
    height: 75px;
    width: 1040px;
    margin-top: 20px;
    margin-left: 60px;
}

main {
    border-style: none;
    height: 400px;
    width: 70%;
    margin-left: 60px;
    margin-top: -30px;
}

#canvas {
    z-index: 999;
}

aside {
    border-style: none;
    height: 500px;
    width: 23%;
    margin-top: -30px;
}

#main2 {
    border-top-style: solid;
    border-top-width: 0.2px;
    width: 1040px;
    height: 500px;
    margin-top: -120px;
    margin-left: 60px;

}

h1 {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
    font-size: 22px;
    font-family: "Lucida Console", "Courier New", monospace;
}

p {
    border-top-style: solid;
    border-width: 0.2px;
    padding: 5px;
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 1.2;
}


/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 22px;
    font-family: "Lucida Console", "Courier New", monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.knapp {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: lightgray;
}

/* On mouse-over, add a grey background color */
.container:hover input~.knapp {
    background-color: darkgrey;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.knapp {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.knapp:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.knapp:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .knapp:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Radio knapper for å bytte type framstilling*/
aside label {
    font-family: "Lucida Console", "Courier New", monospace;
}