body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1500;
    height: 800;
    border-style: solid;
}

header {
    border-style: solid;
    height: 100px;
    width: 100%;
}

main {
    border-style: solid;
    height: 400px;
    width: 800px;
}
#canvas {
    z-index:999;
}

aside {
    border-style: solid;
    height: 500px;
    width: 430px;
}

footer {
    border-style: solid;
    height: 100px;
    width: 800px;
    margin-top: -100px;
}

.knapp {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.knapp input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.knapp {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}